<%- include('../layouts/adminheader')%>

    <h2 class="page-title">
        Categories
    </h2>
    <a href="/admin/categories/add-category" class="btn btn-primary"> Add a new Category</a>


    <table class="table table-striped">

        <thead>
            <tr>
                <th>Categories</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>

        </thead>
        <tbody>
            <%Categories.forEach((cat)=>{ %>
                <tr>
                    <td>
                        <%=cat.title%>
                    </td>
                    <td> <a href="/admin/categories/edit-category/<%=cat._id%>"> Edit</a> </td>
                    <td> <a href="/admin/categories/delete-category/<%=cat._id%>">Delete</td>
                </tr>



             <%})%>
        </tbody>

    </table>

    <%- include('../layouts/adminfooter')%>